---
import { Image } from "astro:assets";
import { Calendar, User } from "@lucide/astro";

const {
  title,
  description,
  cover,
  date,
  link,
  highlight = false,
  author,
} = Astro.props;

const formattedDate = new Date(date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<a
  class={`bg-card group shadow-md overflow-hidden cursor-pointer transition hover:shadow-lg ${highlight ? "lg:col-span-2" : ""}`}
  href={`/blogs/${link}`}
>
  <Image
    src={cover}
    alt={title}
    class="aspect-[16/9] w-full object-cover"
    width={1280}
    height={720}
    format="webp"
    loading="lazy"
    quality={80}
  />

  <div class={`p-4 space-y-1`}>
    <div class="text-muted-foreground text-sm flex items-center gap-2">
      <Calendar size={16} />
      <span>{formattedDate}</span>
    </div>

    <h3
      class={`font-semibold transition-colors group-hover:text-primary ${highlight ? "text-4xl" : "text-lg"}`}
    >
      {title}
    </h3>

    <div class="text-muted-foreground text-xs italic flex items-center gap-2">
      <User size={14} />
      <span>{author}</span>
    </div>

    {
      highlight && (
        <p
          class={`text-muted-foreground pt-2 ${highlight ? "line-clamp-6" : "line-clamp-3 text-sm"}`}
        >
          {description}
        </p>
      )
    }
  </div>
</a>